
<!DOCTYPE html>
<html>
<head>
    <title>{% if request.user.is_authenticated %}Logged In{% else %}Not Logged In{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>
<body class="{% if request.user.is_authenticated %}logged-in{% else %}logged-out{% endif %}">
{% load socialaccount %}
{% providers_media_js %}

 
{% if request.user.is_authenticated %}
    <img src="{{ request.user.profile.profile_image_url }}"/>
<!--     {% get_social_accounts user as accounts %}
 -->    <a href="/accounts/logout/" class="pull-right">Logout</a>
    <form method='POST' action=''>{% csrf_token %}
       {{form.as_p}}

       <input type ='submit' value ='post'  ></input>
              </form>

        <p><a href="{% provider_login_url "facebook" process="connect" method="oauth2" %}">Connect a facebook account</a></p>
    <a href="/accounts/facebook/login/" class="pull-right">Login</a>

    {% if request.user.first_name or request.user.last_name %}
        {{ request.user.first_name }} {{ request.user.last_name }}
    {% else %}
        {{ request.user.username }}

    {% endif %}
    {% if request.user.profile.account_verified %} (verified) {% else %} (unverified) {% endif %}

 
{% else %}
    <a href="/accounts/login/" class="pull-right">Login</a>
{% endif %}
</body>
</html>